@*@model CodeFirst.Models.Admin.Category*@

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        var validator = $("#frmCategory").validate({
            submitHandler: function () { saveRecords(); },
            rules: {
                CagtegoryName: {
                    required: true
                },
            },
            messages: {
                CagtegoryName: {
                    required: "Category Name is Required"

                },
            },
        });
    });

    function saveRecords() {
        alert("Hi");
    }
</script>

<form name="frmCategory" id="frmCategory">
    Category Name:
    
    <input type="text" name="CagtegoryName" id="CagtegoryName">
    <br />
    <input type="submit" value="Save" />

</form>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

